@media (min-width: 0px) and (max-width: 768px) {

    .principal ul {
        display: none;
        margin: 0 100px;
    }

    .principal .mn {
    display: flex;
    gap: 30px;
    margin: 0 30px;
    }

    .conteudo1-btn ul{
    display: flex;
    justify-content: center;
    }

    .conteudo1-btn {
    text-align: center;
    margin: 0 auto;
    }

    .conteudo1-btn li {
      text-decoration: none;
    }
    
    .conteudo1-btn .li2:hover {
    background-color: rgb(12, 115, 199);
    color: white;
    transition: 0.3s;
    }

    .principal {
     background-color: rgba(255, 255, 255, 0.692);
     width: 100%;
     height: 10px;
    }

    .namewatch h2 {
      position: relative;
      right: -10px;
    }

    .applewatch { 
    margin: 15px 0;
    }
}