@media (min-width: 0px) and (max-width: 768px) {

    .principal ul {
        display: none;
        margin: 0 100px;
    }

    .principal .menu2 img {
    display: flex;
    
    }

    .conteudo1-btn ul{
    display: flex;
    justify-content: center;
    }

    .conteudo1-btn {
    text-align: center;
    margin: 0 auto;
    }
}